.hero {
    @include backgroundCover();
    background-image: url(../../img/background.jpg);
    height: 100vh;

    @include responsive-sm() {
        background: linear-gradient(180deg, #FFFFFF 48.96%, #E5E5E5 100%);
        height: auto;
    }
    

    &__content {
        @include width();
        padding-top: 20vh;

        @include responsive-sm() {
            width: 92%;
            padding: 3.75rem 0;
        }
    }

    &__text {
        width: 67%;

        @include responsive-sm() {
            width: 100%;
            text-align: center;
        }
    }

    &__paragraph {
        padding: 1.875rem 0;
    }
}